<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compras</title>
    <link href="/css/compras.css" rel="stylesheet">

</head>

<body>

    <header>
        <div class="logo-container">
            <img src="/images/logo.jpg" alt="Logo">
            <div class="logo-bar-container">
                
            </div>
            <div class="form" action="#" method="GET">
                <div class="input">Buscar productos, marcas y más</div>
                <div class="submit"><i class="fa-solid fa-magnifying-glass"></i></div>
            </div>
            <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
            
            <div class="menu-compras">
                <ul>
                    <li>OFERTAS</li>
                    <li>Tiendas Oficiales</li>
                    <li>Vender</li>
                    <li>Ayuda</li>
                </ul>


            </div>
            <div>

            </div>
            <div class="burger-menu">
                <i class="fa fa-bars burger"></i>
            </div>
        <nav>
            <ul>
                <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>

    </header>
    <section class="banner">
        <img src="images/img-home-banner.jpg" alt="Banner de ofertas">
    </section>
    <main>
        <section class="last-visit">
            <h3>Basado en tu última visita</h3>
            <div class="products">
                <article>
                    <img src="/images/nike-air-zoom.jpg" alt="Calzado " class="product_img">
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <p class="price">$25.000</p> 
                        <p class="discount">40% off</p>
                        <h4 class="description">Zapatilla Nike</h4>
                    </div>
                </article>
                <article>
                    <img src="/images/zapatillas-running.jpg" alt="Calzado" class="product_img">
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <p class="price">$32.000</p>
                        <p class="discount">20% off</p>
                        <h4 class="description">Zapatillas de running</h4>
                    </div>
                </article>
                <article>
                    <img src="/images/pelota-basquet.jpg" alt="Pelota de Basquet"
                        class="product_img">
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <p class="price">$5.000</p>
                        <p class="discount">10% off</p>
                        <h4 class="description">Pelota Spalding</h4>
                    </div>
                </article>
                <article>
                    <img src="images/botines-futbol.jpg" alt="Calzado" class="product_img">
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <p class="price">$32.000</p>
                        <p class="discount">20% off</p>
                        <h4 class="description">Botines Adidas</h4>
                    </div>
                </article>
            </div>
        </section>


</body>

</html>