<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenidos a DH Sports</title>
    <link href="css/login.css" rel="stylesheet">
    
</head>
<body>
    <header>
        <h1 align = center>Bienvenidos a DH Sports></h1>

    </header> 
    <main>
       
        <h4 align = right><a href="http://localhost:3500/login">Ingresa a tu cuenta</a></h4>
        
    </main>
</body>
</html>