<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="stylesHome.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/08763d4032.js" crossorigin="anonymous"></script>
    <title>Home</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    
    
    <link href="/css/stylesHome.css" rel="stylesheet">
    
</head>
<body>
    <header>
        
        <article class="header-busqueda">   
            
            <header class="main-header">
            <h2 class="nombrepagina">DHSPORTS</h2>
            <p>home</p>
            <p>catalogo</p>
            <p>sobre nosotros</p>

            <!--BARRA DE BUSQUEDA  -->

            <div class="menu">
                    
                <i class="fa-solid fa-bars" class="menu-bars"></i>

            </div>

            <div class="barra-de-busqueda">

        <input type="search" class="input" placeholder="Buscar..." class="buscar">
        <button><i class="fa-solid fa-magnifying-glass"></i></button>
    
            <div class="encabezado">
    
                 <div class="login">
                    
                    <i class="fa-solid fa-user"></i>
                    
                </div>
                
                <div class="carrito">
                    
                    <i class="fa-sharp fa-solid fa-cart-shopping"></i>
                    
                </div>
                
                
            </div>
            
            

        </header>
        </div>

    </article>
    
</header> 
    <main>
        <div class="imagen-logo">
        
            <img class="logo" src="/images/logo-jpg.jpg" alt="logo">
        
        </div>

        <div class="titulo-deportes">

            <h1 class="deporte-favorito">¡Todo lo que necesitas para tú deporte favorito!</h1>

        </div>

        <section class="imagenes-deportes">
            
            <div class="deporte">
                
                <img class="running" src="/images/running.jpg" alt="running">

                <p>Running</p>
                
            </div>

            <div class="deporte">

                <img class= "futbol" src="/images/futbol.jpg" alt="futbol">

                <p>Fútbol</p>

            </div>

            <div class="deporte">

                <img class="basquet" src="/images/basquet.jpg" alt="basquet">

                <p>Básquet</p>
            </div>

            <div class="deporte">

                <img  class="natacion"  src="/images/natacion.jpeg" alt="natacion">

                <p>Natación</p>
            </div>

        </section>

    </main>

    <footer>

    </footer>
    
</body>
</html>