<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar sesion</title>
    <link href="css/login.css" rel="stylesheet"</link>
</head>
<body>
    <form action="#" method="POST">
        <div id="login-box">
            <h1>Inicia sesion para disfrutar de los mejores precios</h1> 
            <div class="form">
                <div class="item"> 
                    
                    <input type="text" placeholder="Usuario" name="username"> 
                </div>

                <div class="item"> 
                   
                    <input type="password" placeholder="Contraseña" name="password"> 
                </div>

            </div>
            
            <button type="submit">Iniciar sesion</button> 
        </div>
    </form> 
</body>
</html>