<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingresa a tu cuenta</title>
    <link href="css/login.css" rel="stylesheet">
    <img src="/images/logo.jpeg" alt="Imagen DH Sports">
</head>
<body>
    <form action="#" method="POST">
        <div id="login-box">
            <h1>Ingresa a tu cuenta para que puedas disfrutar de los mejores precios</h1> 
            <div class="form">
                <div class="item"> 
                    
                    <input type="text" placeholder="Usuario" name="username"> 
                </div>

                <div class="item"> 
                   
                    <input type="password" placeholder="Contraseña" name="password"> 
                </div>

            </div>
            
            <button type="submit">Ingresa a tu cuenta</button> 
        </div>
    </form> 
</body>
</html>