#login-box {
    border: 1px solid blue;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    margin-top: 15%;
    background: #f4eadb;
    padding: 20px 50px;
}

#login-box h1 {
    color: #000;

}
input{
    width: 20%;
    border: none;
    border-radius: 5px 5px 5px 5px;
    
    
}
button{
    border-radius: 5px 5px 5px 5px;
}
