<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head')  %>


<body>

    <%- include('partials/header') %>



    <main>

        <div class="cuerpo-main">

            <div class="titulo-deportes">

                <h1 class="deporte-favorito">¡Basketball!</h1>

            </div>

            <section class="imagenes-deportes">

            
                <div class="deporte">
                
                <a href="/productDetail101/9" class="link-deporte"><img class="foto-deporte" src="../images/basket-1-01.avif" alt="Balón de baloncesto">

                    <h3 class="nombre-deporte">Balón de baloncesto talla 7 tarmak bt100 marrón avellana</h3></a>
                
                </div>

                <div class="deporte">

                    <a href="/productDetail101/10" class="link-deporte"><img class= "foto-deporte" src="../images/basket-2-01.avif" alt="Camiseta de baloncesto">

                    <h3 class="nombre-deporte">Camiseta esqueleto doble faz unisex de baloncesto t500r buzzer gris negro</h3></a>

                </div>

                <div class="deporte">

                    <a href="/productDetail101/11" class="link-deporte"><img class="foto-deporte" src="../images/basket-3-01.avif" alt="Pantaloneta de baloncesto">

                    <h3 class="nombre-deporte">Pantaloneta doble faz unisex de baloncesto sh500r gris negro</h3></a>
                </div>

                <div class="deporte">

                    <a href="/productDetail101/12" class="link-deporte"><img  class="foto-deporte"  src="../images/basket-4-01.avif" alt="Tenis unisex">

                    <h3 class="nombre-deporte">Tenis unisex de baloncesto caña baja fast 500 blanco negro</h3></a>
                </div>

            </section>

        </div>

    </main>

    <%- include('partials/footer')  %>

    
</body>
</html>