<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/compras.css">
    <title>dhsports</title>
</head>

<body>
    <header>
        <div class="logo-container">
            <div class="logo-bar-container">
                    <div class="logo">
                        <a href="/"><img src="/images/logo-jpg.jpg" alt="logo"></a>
                    </div>
                <div class="search-button-container">
                    <div class="search-container">
                        <input type="text" placeholder=" buscar productos,marcas...">
                        <button><i class="fas fa-search"></i></button>
                    </div>
                </div>
            </div>
        <div class="card-container">
            <h2 class="car-title">aprovecha y disfruta de nosotros.</h2>
        </div>
    </div>

<div class="menu-container">
    <ul>
        <li>ofertas</li>
        <li>tiendas oficiales</li>
        <li>vender</li>
        <li>ayuda</li>
    </ul>
    <ul>
        <li><a href="/register">crea tu cuenta<i class="fas fa-id-card"></i></a> </li>
        <li><a href="/login">ingresa <i class="fas fa-sign-in-alt"></i></a> </li>
        <li>mis compras <i class="fas fa-shopping-basket"></i> </li>

    </ul>
</div>

    <div class="burguer-container">
        <div class="burguer-menu">
            <i class="fas fa-bars"></i>
        </div>
    </div>
    </header>
    <section class="carrusel">
        <div class="container-slider">
            <div class="container">
                <input type="radio" name="slider" id="item-1" checked>
                <input type="radio" name="slider" id="item-2">
                <input type="radio" name="slider" id="item-3">
                <input type="radio" name="slider" id="item-4">
                <input type="radio" name="slider" id="item-5">
                
                <div class="cards">
                    <label class="card" for="item-1" id="selector-1">
                        <img src="/images/baner/banner-Natacion.jpg" alt="">
                    </label>
                    <label class="card" for="item-2" id="selector-2">
                        <img src="/images/baner/futbol baner2futbol.jpg" alt="">
                    </label>
                    <label class="card" for="item-3" id="selector-3">
                        <img src="/images/baner/futbol2.jpg" alt="">
                        
                    </label>
                    <label class= "card" for="item-4"  id="selector-4">
                        <img src="/images/baner/img2basket.jpg" alt="">
                    </label>
                    <label class= "card" for="item-5"id="selector-5" >
                        <img src="/images/baner/splash-basketball-pano-banner.jpg" alt="">
                    </label>
                    
                </div>
            </div>
        </div>
    </section>
    <figure class="icon-cards">
        <div class="icon-cards__content">
            
            <div class="icon-cards__item"></div>
            <div class="icon-cards__item"></div>
            <div class="icon-cards__item"></div>
            <div class="icon-cards__item"></div>
            <div class="icon-cards__item"></div>
        </div>
        
    </div>
</figure>
    <main>
        <section class="last-visit">
            <h3>para ti</h3>
            <div class="products">
                <article>
                    <img src="/images/botines-futbol.jpg" alt="Cafetera" class="product_img">
                    <div class="main-article">
<i class="fa-solid fa-motorcycle"></i>
                        <p class="price">$6.770</p>
                        <p class="discount">40% off</p>
                        <h4 class="description">Cafetera Moulinex</h4>
                    </div>
                </article>
                <article>
                    <img src="/images/nike-air-zoom.jpg" alt="MacBook" class="product_img">
                    <div class="main-article">
<i class="fa-solid fa-motorcycle"></i>
                        <p class="price">$230.000</p>
                        <p class="discount">20% off</p>
                        <h4 class="description">MacBook Pro 2019</h4>
                    </div>
                </article>
                <article>
                    <img src="/images/pelota-basquet.jpg" alt="Teléfono Móvil Samsung Galaxy"
                        class="product_img">
                    <div class="main-article">
<i class="fa-solid fa-motorcycle"></i>
                        <p class="price">$70.500</p>
                        <p class="discount">10% off</p>
                        <h4 class="description">Samsung Galaxy S10</h4>
                    </div>
                </article>
                <article>
                    <img src="/images/nike-air-zoom.jpg" alt="SmartTv Samsung" class="product_img">
                    <div class="main-article">
<i class="fa-solid fa-motorcycle"></i>
                        <p class="price">$23.200</p>
                        <p class="discount">5% off</p>
                        <h4 class="description">SmartTv Samsung 43"</h4>
                    </div>
                </article>
            </div>
        </section>
        <section class="offers">
            <h3>basado en ultimas vistas</h3>
            <div class="products">
                <article>
                    <img src="/images/botines-futbol.jpg" alt="Cafetera" class="product_img">
                    <div class="main-article">
<i class="fa-solid fa-motorcycle"></i>
                        <p class="price">$6.770</p>
                        <p class="discount">40% off</p>
                        <h4 class="description">Cafetera Moulinex</h4>
                    </div>
                </article>
                <article>
                    <img src="/images/nike-air-zoom.jpg" alt="MacBook" class="product_img">
                    <div class="main-article">
<i class="fa-solid fa-motorcycle"></i>
                        <p class="price">$230.000</p>
                        <p class="discount">20% off</p>
                        <h4 class="description">MacBook Pro 2019</h4>
                    </div>
                </article>
                <article>
                    <img src="/images/pelota-basquet.jpg" alt="Teléfono Móvil Samsung Galaxy"
                        class="product_img">
                    <div class="main-article">
<i class="fa-solid fa-motorcycle"></i>
                        <p class="price">$70.500</p>
                        <p class="discount">10% off</p>
                        <h4 class="description">Samsung Galaxy S10</h4>
                    </div>
                </article>
                <article>
                    <img src="/images/nike-air-zoom.jpg" alt="SmartTv Samsung" class="product_img">
                    <div class="main-article">
<i class="fa-solid fa-motorcycle"></i>
                        <p class="price">$23.200</p>
                        <p class="discount">5% off</p>
                        <h4 class="description">SmartTv Samsung 43"</h4>
                    </div>
                </article>
            </div>
        </section>
    </main>
    <footer>
        <h3>© 2023 DH™ Sports.</h3>

        <br>

        <div>Los mejores productos para el deporte</div>

        <br>

        <div>ecommerce.dh@sports.com</div>
    <div class="pie">
        <p> © 1999-2023 dh@sports S.R.L.</p>
    </div>
</body>

</html>

