<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head')  %>


<body>

    <%- include('partials/header') %>



    <main>

        <div class="cuerpo-main">

            <div class="titulo-deportes">

                <h1 class="deporte-favorito">¡Fútbol!</h1>

            </div>

            <section class="imagenes-deportes">

            
                <div class="deporte">
                
                <a href="/productDetail/5" class="link-deporte"><img class="foto-deporte" src="../images/futbol-1-01.avif" alt="Balón de fútbol">

                    <h3 class="nombre-deporte">Balón de fútbol híbrido talla 5 fifa basic f500 nieve y niebla rojo</h3></a>
                
                </div>

                <div class="deporte">

                    <a href="/productDetail/6" class="link-deporte"><img class= "foto-deporte" src="../images/futbol-2-01.avif" alt="Guayos">

                    <h3 class="nombre-deporte">Guayos kipsta agility 100 terreno firme adulto</h3></a>

                </div>

                <div class="deporte">

                    <a href="/productDetail/7" class="link-deporte"><img class="foto-deporte" src="../images/futbol-3-01.avif" alt="Medias">

                    <h3 class="nombre-deporte">Medias de fútbol adulto f100 blanco</h3></a>
                </div>

                <div class="deporte">

                    <a href="/productDetail/8" class="link-deporte"><img  class="foto-deporte"  src="../images/futbol-4-01.avif" alt="Portería">

                    <h3 class="nombre-deporte">Cancha de fútbol kipsta portería l talla s blanco</h3></a>
                </div>

            </section>

        </div>

    </main>

    <%- include('partials/footer')  %>

    
</body>
</html>