<!DOCTYPE html>
<html lang="en">
<%- include('partials/head')  %>
<body>

<%- include('partials/header')  %>   


    <main>

        <div class="cuerpo-main">

            <div class="titulo-deportes">

                <h1 class="deporte-favorito">¡Running!</h1>

            </div>

            <section class="imagenes-deportes">

            
                <div class="deporte">
                
                <a href="/productDetail/1" class="link-deporte"><img class="foto-deporte" src="../images/running-1-01.avif" alt="Tenis mujer">

                    <h3 class="nombre-deporte">Tenis running kalenji run 100 mujer gris</h3></a>
                
                </div>

                <div class="deporte">

                    <a href="/productDetail/2" class="link-deporte"><img class= "foto-deporte" src="../images/running-2-01.avif" alt="Medias">

                    <h3 class="nombre-deporte">Medias gruesas de running run900 strap negro azul</h3></a>

                </div>

                <div class="deporte">

                    <a href="/productDetail/3" class="link-deporte"><img class="foto-deporte" src="../images/running-3-01.avif" alt="Pantaloneta">

                    <h3 class="nombre-deporte">Pantaloneta transpirable hombre running dry negro</h3></a>
                </div>

                <div class="deporte">

                    <a href="/productDetail/4" class="link-deporte"><img  class="foto-deporte"  src="../images/running-4-01.avif" alt="natacion">

                    <h3 class="nombre-deporte">Tenis caminar ciudad hombre soft 140 mesh negro blanco</h3></a>
                </div>

            </section>

        </div>

    </main>

    <%- include('partials/footer') %>
    
</body>
</html>