<!DOCTYPE html>
<html lang="en">
<%- include('partials/head')  %>

<body>

    <%- include('partials/header') %>


    <main>

        <div class="cuerpo-main">

            <div class="titulo-deportes">

                <h1 class="deporte-favorito">¡Todo lo que necesitas para tú deporte favorito!</h1>

            </div>

            <section class="imagenes-deportes">

            
                <div class="deporte">
                
                <a href="/products/compras" class="link-deporte"><img class="foto-deporte" src="../images/running.jpg" alt="running">

                    <h3 class="nombre-deporte">Running</h3></a>
                
                </div>

                <div class="deporte">

                    <a href="/products/comprasfutbol" class="link-deporte"><img class= "foto-deporte" src="../images/futbol.jpg" alt="futbol">

                    <h3 class="nombre-deporte">Fútbol</h3></a>

                </div>

                <div class="deporte">

                    <a href="/products/comprasbasket" class="link-deporte"><img class="foto-deporte" src="../images/basquet.jpg" alt="basquet">

                    <h3 class="nombre-deporte">Básquet</h3></a>
                </div>

                <div class="deporte">

                    <a href="/products/comprasnatacion" class="link-deporte"><img  class="foto-deporte"  src="../images/natacion.jpeg" alt="natacion">

                    <h3 class="nombre-deporte">Natación</h3></a>
                </div>

            </section>

        </div>

    </main>

    <%- include('partials/footer')  %>
    
</body>
</html>