<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="../css/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/08763d4032.js" crossorigin="anonymous"></script>
    <title>Ingreso</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingreso</title>


    
    <link href="../css/productDetail.css" rel="stylesheet">
    <link href="../login.html" rel="stylesheet">

</head>

<body>

    <%- include('partials/header') %>

    
    <main>

        <% if (typeof errors != 'undefined') {%>
            <p style="color:red">ERROR</p>
            <ul>
                <% for (let i = 0; i < errors.length; i++) {%>
                    <li>
                        <%= errors[i].msg %>
                    </li>
                    <% } %>
            </ul>
            <% } %>

        <div class="main-login">

        <form  method="POST" action="/user/login" enctype="multipart/form-data">

            <div id="login-box">
            
                <img class="logo-login" src="../images/logo-jpg.jpg" alt="Imagen DH Sports">

                <div class="form">

                    <div class="item">

                        <i class="fa-solid fa-user"></i>
                        <input 
                        type="email" 
                        placeholder="Email" 
                        name="email"
                     
                        class="input2"> 
                      

                    </div>
                
                    <div class="item">

                        <i class="fa-solid fa-lock"></i>  
                        <input 
                        type="password" 
                        placeholder="Contraseña" 
                        name="password" 
                        
                        class="input3 ">

                    </div>
                
                </div>
            
                <div>

                   
                </div>

                <button type="submit" class="boton2"><a class="enviar">Ingresar</a></button>

            </div>

        </form> 

        </div>

    </main>

    <%- include('partials/footer')  %>

    
</body>
</html>
    


</body>
</html>