<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
    <link rel="stylesheet" href="../css/nuevoProducto.css">

    <body>
        <%- include('partials/header') %>
            <main>

                <form class="formulario-container">

                    <p class="titulo-container">Nuevo producto</p>
                    
                    <div class="formulario-nuevo-producto">

                        <div class="name-produc">
                            <label class="nombreproducto">Nombre del producto</label>
                            <input type="text" name="nombreproducto" id="nombreproducto" placeholder="Ej: Zapatillas">

                        </div>

                        <div class="marca-container">

                            <label class="marca">Seleccionar marca</label>
                            <select class="marcas" name="marcas">
                                <option value="0">Seleccione una marca</option>
                                <option value="1">Adidas</option>
                                <option value="2">Nike</option>
                                <option value="3">Reebok</option>
                                <option value="4">Puma</option>
                                <option value="5">Sauconi</option>
                                <option value="6">Asics</option>
                                <option value="7">New Balance</option>
                            </select>
                        </div>

                        <div class="categoria-container">

                            <label class="categoria">Categoria</label>
                            <select class="categorias" name="categorias">
                                <option value="0">Seleccione una categoria</option>
                                <option value="0">Futbol</option>
                                <option value="0">Running</option>
                                <option value="0">Natacion</option>
                                <option value="0">Basquet </option>
                            </select>
                        </div>

                        <div class="img-container">

                            <label class="img">Imagenes del producto</label>
                            <input class="img-producto" type="file" name="imagenproducto" id="imagenproducto"
                                accept="jpg, jpeg" multiple>

                        </div>

                        <div class="descripcion-container">

                            <label class="descripcionDeProducto">Descripcion general del producto</label>
                            <textarea name="descripcionproducto" id="descripcionproducto" cols="30"
                                rows="10"></textarea>
                        </div>

                        <div class="size-container">

                            <label class="talle">Talle</label>
                            <select name="talle" id="talle">
                                <option value="xs">XS</option>
                                <option value="s">S</option>
                                <option value="m">M</option>
                                <option value="l">L</option>
                                <option value="xl">XL</option>
                                <option value="xxl">XXL</option>
                                <option value="35">35</option>
                                <option value="36">36</option>
                                <option value="37">37</option>
                                <option value="38">38</option>
                                <option value="39">39</option>
                                <option value="40">40</option>
                                <option value="41">41</option>
                                <option value="42">42</option>
                                <option value="43">43</option>
                                <option value="44">44</option>
                                <option value="45">45</option>
                            </select>
                        </div>

                        <div class="color-container">

                            <label class="color-producto">Color del producto</label>
                            <select name="color" id="color">
                                <option value="rojo">Rojo</option>
                                <option value="negro">Negro</option>
                                <option value="azul">Azul</option>
                                <option value="amarillo">Amarillo</option>
                                <option value="blanco">Blanco</option>
                                <option value="verde">Verde</option>
                                <option value="gris">Gris</option>
                            </select>
                        </div>

                        <div class="valor-container">

                            <label class="valor-producto">Valor del producto</label>
                            <input type="number" name="valor" id="valor" placeholder="$">

                        </div>

                        <div class="btn">
                            <button type="button" class="btn-save"><i class="fa-regular fa-floppy-disk"></i> Guardar</button>
                        </div>


                    </div>


                </form>

            </main>

            <%- include('partials/footer') %>

    </body>

</html>