<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head')  %>


<body>

    <%- include('partials/header') %>




    <main>

    

            <div class="productos">

                <h3 class="nombre-producto">Medias gruesas de running run900 strap negro azul</h3>

                <div class="productos-flex">

                <div class="lista-imagenes">

                    <img class="imagen-grande101" src="./images/running-2-01.avif" alt="Medias">

                    <div class="imagenes-flex">

                    <img class="imagenes-peque単as101" src="./images/running-2-02.avif" alt="Medias">

                    <img class="imagenes-peque単as101" src="./images/running-2-03.avif" alt="Medias">

                    <img class="imagenes-peque単as101" src="./images/running-2-04.avif" alt="Medias">

                    </div>

                </div>

                    <div class="descripciones-desktop">

                        <div class="descripcion-producto">
                            Nuestros equipos de dise単o han desarrollado estas medias de running para sujetar mejor el tobillo durante las salidas de running.
                        </div>

                        <br>

                        <h3 class="precio-producto">$2.445</h3>

                        <div class="boton" id="boton-desktop">
                            <button type="submit" class="boton-agregar"><a href="./compras">Agregar al Carrito</a></button>
                        </div>

                    </div>

                </div>

            </div>

            <div class="boton" id="boton-main">
                <button type="submit" class="boton-agregar"><a href="./productCar">Agregar al Carrito</a></button>
            </div>


    </main>

    <%- include('partials/footer')  %>

    
</body>
</html>