<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="../css/productDetail.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/08763d4032.js" crossorigin="anonymous"></script>
    <title>Detalle</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle</title>
    
    <link href="../css/productDetail.css" rel="stylesheet">

</head>

<body>

    <header class="navBar">

        <div class="main-header">

            <div class="burguer-menu">

               <i class="fas fa-bars"></i>

                <ul class="menu-celular">

                    <li><a class="links-encabezado" href="/">Inicio</a></li>

                    <li><a class="links-encabezado" href="/register">Regístrate <i class="fa-regular fa-id-card"></i></a></li>

                    <li><a class="links-encabezado" href="/login">Ingresa <i class="fa-solid fa-right-to-bracket"></i></a></li>

                    <li><a class="links-encabezado" href="/productCar">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
    
                </ul>

            </div>

            <div class="logobarra-mitad">

                <div class="div-logo">
                    <a class="link-logo" href="/"><img src="../images/logo-jpg.jpg" alt="Logo de DH Sports" class="logoDH"></a>
                </div>
                <div class="busqueda2">

                    <form action="/busqueda.html" method="GET">
    
                        <input type="search" placeholder="Buscar producto, deporte..." id="buscador-productos2">
    
                        <i id="lupa-dos" class="fa fa-search"></i>
                        
                    </form>
    
                </div>

                <div id="carrito-compras"><a href="/productCar"><i class="fa-solid fa-cart-shopping"></i></a> </div>

                <ul class="menu-tablet">
        
                    <li><a class="links-encabezado" href="/register">Regístrate <i class="fa-regular fa-id-card"></i></a></li>
                    <br>
                    <li><a class="links-encabezado" href="/login">Ingresa <i class="fa-solid fa-right-to-bracket"></i></a></li>
                    <br>
                    <li><a class="links-encabezado" href="/productCar">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
    
                </ul>

            </div>

        </div>

        
        


            <div class="busqueda1">

                <form action="/busqueda.html" method="GET">

                    <input type="search" placeholder="Buscar producto, deporte..." id="buscador-productos">

                    <i id="lupa-uno" class="fa fa-search"></i>
                    
                </form>

            </div>

      


    </header>



    <main>

    

            <div class="productos">

                <h3 class="nombre-producto">Tenis caminar ciudad hombre soft 140 mesh negro blanco</h3>

                <div class="productos-flex">

                <div class="lista-imagenes">

                    <img class="imagen-grande101" src="./images/running-4-01.avif" alt="Tenis hombre">

                    <div class="imagenes-flex">

                    <img class="imagenes-pequeñas101" src="./images/running-4-02.avif" alt="Tenis hombre">

                    <img class="imagenes-pequeñas101" src="./images/running-4-03.avif" alt="Tenis hombre">

                    <img class="imagenes-pequeñas101" src="./images/running-4-04.avif" alt="Tenis hombre">

                    </div>

                </div>

                    <div class="descripciones-desktop">

                        <div class="descripcion-producto">
                            Comodidad esencial para las salidas por zonas urbanas.
                        </div>

                        <br>

                        <h3 class="precio-producto">$3.905</h3>

                        <div class="boton" id="boton-desktop">
                            <button type="submit" class="boton-agregar"><a href="./compras">Agregar al Carrito</a></button>
                        </div>

                    </div>

                </div>

            </div>

            <div class="boton" id="boton-main">
                <button type="submit" class="boton-agregar"><a href="./productCar">Agregar al Carrito</a></button>
            </div>


    </main>

    <footer>

        <div class="pie-flex">

            <div class="frases-pie">Aceptamos todas las tarjetas</div>

            <br>

            <div class="frases-pie">Envíos gratis a toda Latinoamerica</div>

            <br>

            <div class="frases-pie">¡Encontrarás la mayor variedad del mercado!</div>

            <br>

        </div>

        <br>

        <div class="pie">

            <h3>© 2023 DH™ Sports.</h3>

            <br>

            <div>Los mejores productos para el deporte</div>

            <br>

            <div>ecommerce.dh@sports.com</div>
        
        </div>

    </footer>
    
</body>
</html>