<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head')  %>


<body>

    <%- include('partials/header') %>




    <main>

    

            <div class="productos">

                <h3 class="nombre-producto">Guayos kipsta agility 100 terreno firme adulto</h3>

                <div class="productos-flex">

                <div class="lista-imagenes">

                    <img class="imagen-grande101" src="./images/futbol-2-01.avif" alt="Guayos">

                    <div class="imagenes-flex">

                    <img class="imagenes-peque単as101" src="./images/futbol-2-02.avif" alt="Guayos">

                    <img class="imagenes-peque単as101" src="./images/futbol-2-03.avif" alt="Guayos">

                    <img class="imagenes-peque単as101" src="./images/futbol-2-04.avif" alt="Guayos">

                    </div>

                </div>

                    <div class="descripciones-desktop">

                        <div class="descripcion-producto">
                            Dise単amos los guayos Agility 100 flexibles para futbolistas que juegan en terrenos secos, 1 ves a la semana.
                        </div>

                        <br>

                        <h3 class="precio-producto">$2.718</h3>

                        <div class="boton" id="boton-desktop">
                            <button type="submit" class="boton-agregar"><a href="./compras">Agregar al Carrito</a></button>
                        </div>

                    </div>

                </div>

            </div>

            <div class="boton" id="boton-main">
                <button type="submit" class="boton-agregar"><a href="./productCar">Agregar al Carrito</a></button>
            </div>


    </main>

    <%- include('partials/footer')  %>

    
</body>
</html>