<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head')  %>


<body>

    <%- include('partials/header') %>




    <main>

    

            <div class="productos">

                <h3 class="nombre-producto">Pelota de baloncesto</h3>

                <div class="productos-flex">

                <div class="lista-imagenes">

                    <img class="imagen-grande" src="./images/pelota-basquet.jpg" alt="Pelota de baloncesto">

                    <div class="imagenes-flex">

                    <img class="imagenes-pequeñas" src="./images/baloncesto2.jpg" alt="Pelota de baloncesto">

                    <img class="imagenes-pequeñas" src="./images/baloncesto3.jpg" alt="Pelota de baloncesto">

                    <img class="imagenes-pequeñas" src="./images/baloncesto5.jpg" alt="Pelota de baloncesto">

                    </div>

                </div>

                    <div class="descripciones-desktop">

                        <div class="descripcion-producto">
                        Balón de baloncesto de talla 7 oficial para jugar a baloncesto en exterior o interior, para niños y adultos. Con gran resistencia.
                        </div>

                        <br>

                        <h3 class="precio-producto">$2.003</h3>

                        <div class="boton" id="boton-desktop">
                            <button type="submit" class="boton-agregar"><a href="./compras">Agregar al Carrito</a></button>
                        </div>

                    </div>

                </div>

            </div>

            <div class="boton" id="boton-main">
                <button type="submit" class="boton-agregar"><a href="./productCar">Agregar al Carrito</a></button>
            </div>


    </main>

    <%- include('partials/footer')  %>

    
</body>
</html>