<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product List</title>
</head>
<body>
    <%- include('partials/header') %>
<main>
    Lista de produtos AQUI!
</main>

    <%- include('partials/footer') %>
    <div class="pie">

        <h3>© 2023 DH™ Sports.</h3>

        <p>Los mejores productos para el deporte</p>

        <p>ecommerce.dh@sports.com</p>
    </div>
    
</body>
</html>