<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head')  %>


<body>

    <%- include('partials/header') %>




    <main>

    

            <div class="productos">

                <h3 class="nombre-producto">Camiseta esqueleto doble faz unisex de baloncesto t500r buzzer gris negro</h3>

                <div class="productos-flex">

                <div class="lista-imagenes">

                    <img class="imagen-grande101" src="./images/basket-2-01.avif" alt="Camiseta">

                    <div class="imagenes-flex">

                    <img class="imagenes-peque単as101" src="./images/basket-2-02.avif" alt="Camiseta">

                    <img class="imagenes-peque単as101" src="./images/basket-2-03.avif" alt="Camiseta">

                    <img class="imagenes-peque単as101" src="./images/basket-2-04.avif" alt="Camiseta">

                    </div>

                </div>

                    <div class="descripciones-desktop">

                        <div class="descripcion-producto">
                            Nuestros equipos de dise単o TARMAK han desarrollado esta camiseta esqueleto doble faz para calentamientos y entrenamientos de jugadores en perfeccionamiento.
                        </div>

                        <br>

                        <h3 class="precio-producto">$4.665</h3>

                        <div class="boton" id="boton-desktop">
                            <button type="submit" class="boton-agregar"><a href="./compras">Agregar al Carrito</a></button>
                        </div>

                    </div>

                </div>

            </div>

            <div class="boton" id="boton-main">
                <button type="submit" class="boton-agregar"><a href="./productCar">Agregar al Carrito</a></button>
            </div>


    </main>

    <%- include('partials/footer')  %>

    
</body>
</html>