<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head')  %>


<body>

    <%- include('partials/header') %>




    <main>

    

            <div class="productos">

                <h3 class="nombre-producto">Pantaloneta transpirable hombre running dry negro</h3>

                <div class="productos-flex">

                <div class="lista-imagenes">

                    <img class="imagen-grande101" src="./images/running-3-01.avif" alt="Pantaloneta">

                    <div class="imagenes-flex">

                    <img class="imagenes-pequeñas101" src="./images/running-3-02.avif" alt="Pantaloneta">

                    <img class="imagenes-pequeñas101" src="./images/running-3-03.avif" alt="Pantaloneta">

                    <img class="imagenes-pequeñas101" src="./images/running-3-04.avif" alt="Pantaloneta">

                    </div>

                </div>

                    <div class="descripciones-desktop">

                        <div class="descripcion-producto">
                            Nuestro equipo ha diseñado esta pantaloneta de running para hombre, imprescindible para correr de forma ligera en clima cálido.
                        </div>

                        <br>

                        <h3 class="precio-producto">$1.617</h3>

                        <div class="boton" id="boton-desktop">
                            <button type="submit" class="boton-agregar"><a href="./compras">Agregar al Carrito</a></button>
                        </div>

                    </div>

                </div>

            </div>

            <div class="boton" id="boton-main">
                <button type="submit" class="boton-agregar"><a href="./productCar">Agregar al Carrito</a></button>
            </div>


    </main>

    <%- include('partials/footer')  %>

    
</body>
</html>