<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head')  %>


<body>

    <%- include('partials/header') %>




    <main>

    

            <div class="productos">

                <h3 class="nombre-producto">Balón de fútbol híbrido talla 5 fifa basic f500 nieve y niebla rojo</h3>

                <div class="productos-flex">

                <div class="lista-imagenes">

                    <img class="imagen-grande101" src="./images/futbol-1-01.avif" alt="balón de fútbol">

                    <div class="imagenes-flex">

                    <img class="imagenes-pequeñas101" src="./images/futbol-1-02.avif" alt="balón de fútbol">

                    <img class="imagenes-pequeñas101" src="./images/futbol-1-03.avif" alt="balón de fútbol">

                    <img class="imagenes-pequeñas101" src="./images/futbol-1-04.avif" alt="balón de fútbol">

                    </div>

                </div>

                    <div class="descripciones-desktop">

                        <div class="descripcion-producto">
                            Homologado por la FIFA para entrenamientos y competencias hemos desarrollado el F500 Híbrido, un balón que combina comodidad de uso y resistencia.
                        </div>

                        <br>

                        <h3 class="precio-producto">$2.840</h3>

                        <div class="boton" id="boton-desktop">
                            <button type="submit" class="boton-agregar"><a href="./compras">Agregar al Carrito</a></button>
                        </div>

                    </div>

                </div>

            </div>

            <div class="boton" id="boton-main">
                <button type="submit" class="boton-agregar"><a href="./productCar">Agregar al Carrito</a></button>
            </div>


    </main>

    <%- include('partials/footer')  %>

    
</body>
</html>