<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="../css/register.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/08763d4032.js" crossorigin="anonymous"></script>
    <title>Registro</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>

    <link href="../css/register.css" rel="stylesheet">
    
    <link href="../css/productDetail.css" rel="stylesheet">

</head>

<body>

     <header class="navBar">

        <div class="main-header">

            <div class="burguer-menu">

               <i class="fas fa-bars"></i>

                <ul class="menu-celular">

                    <li><a class="links-encabezado" href="/">Inicio</a></li>
        
                    <li><a class="links-encabezado" href="/registro">Regístrate <i class="fa-regular fa-id-card"></i></a></li>

                    <li><a class="links-encabezado" href="/login">Ingresa <i class="fa-solid fa-right-to-bracket"></i></a></li>

                    <li><a class="links-encabezado" href="/productCar">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
    
                </ul>

            </div>

            <div class="logobarra-mitad">

                <div class="div-logo">
                    <a class="link-logo" href="/"><img src="../images/logo-jpg.jpg" alt="Logo de DH Sports" class="logoDH"></a>
                </div>
                <div class="busqueda2">

                    <form action="/busqueda" method="GET">
    
                        <input type="search" placeholder="Buscar producto, deporte..." id="buscador-productos2">
    
                        <i id="lupa-dos" class="fa fa-search"></i>
                        
                    </form>
    
                </div>

                <div id="carrito-compras"><a href="/productCar"><i class="fa-solid fa-cart-shopping"></i></a> </div>

                <ul class="menu-tablet">
        
                    <li><a class="links-encabezado" href="/register">Regístrate <i class="fa-regular fa-id-card"></i></a></li>
                    <br>
                    <li><a class="links-encabezado" href="/login">Ingresa <i class="fa-solid fa-right-to-bracket"></i></a></li>
                    <br>
                    <li><a class="links-encabezado" href="/productCar">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
    
                </ul>

            </div>

        </div>

        
        


            <div class="busqueda1">

                <form action="/busqueda" method="GET">

                    <input type="search" placeholder="Buscar producto, deporte..." id="buscador-productos">

                    <i id="lupa-uno" class="fa fa-search"></i>
                    
                </form>

            </div>

      


    </header> 

    <main>
        <h2 class="new-account">Creá tu cuenta</h2>
        
        <section class="formulario-content">
            
            <form action="/register" class="formulario" method="post"></form>

            <!-- Grupo: Usuario -->
            <div class="formulario-grupo" id="grupo-usuario">
            <label for="usuario" class="formulario-label">Usuario</label>

                <div class="formulario-grupo-input">
                    <input type="text" class="formulario-input" name="usuario" id="usuario" placeholder="Dh154">
                    <i class="formulario__validacion-estado fas fa-times-circle"></i>
                    <p class="input-error">El usuario debe contener de 4 a 10 caracteres. Pueden ser letras, números y guiones.</p>
                </div>

             </div>

             <!-- Grupo: Nombre -->
             <div class="formulario-grupo" id="grupo-nombre">
                <label for="nombre" class="formulario-label">Nombre</label>
    
                    <div class="formulario-grupo-input">
                        <input type="text" class="formulario-input" name="nombre" id="nombre" placeholder="DH SPORTS">
                        <i class="formulario__validacion-estado fas fa-times-circle"></i>
                        <p class="input-error">El usuario debe contener de 4 a 10 caracteres. Pueden ser letras, números y guiones.</p>
                    </div>
    
                 </div>
     
             <!-- Grupo: Contraseña -->
             <div class="formulario-grupo" id="grupo-contraseña">
                <label for="contraseña" class="formulario-label">Contraseña</label>
    
                    <div class="formulario-grupo-input">
                        <input type="password" class="formulario-input" name="contraseña" id="contraseña" placeholder="">
                        <i class="formulario__validacion-estado fas fa-times-circle"></i>
                        <p class="input-error">La contraseña debe contener de 4 a 10 caracteres.</p>
                    </div>
    
                 </div>

            <!-- Grupo: Contraseña 2 -->
             <div class="formulario-grupo" id="grupo-contraseña2">
                <label for="contraseña2" class="formulario-label">Repetir contraseña</label>
    
                    <div class="formulario-grupo-input">
                        <input type="password" class="formulario-input" name="contraseña2" id="contraseña2" placeholder="">
                        <i class="formulario__validacion-estado fas fa-times-circle"></i>
                        <p class="input-error">Ambas contraseñas deben de ser iguales.</p>
                    </div>
    
                 </div>    
                 
            <!-- Grupo: Correo electronico -->
             <div class="formulario-grupo" id="grupo-correo">
                <label for="correo" class="formulario-label">Correo electronico</label>
    
                    <div class="formulario-grupo-input">
                        <input type="email" class="formulario-input" name="correo" id="correo" placeholder="dhs@correo.com">
                        <i class="formulario__validacion-estado fas fa-times-circle"></i>
                        <p class="input-error">El correo solo puede contener letras, números, puntos, guiones y guione bajos.</p>
                    </div>
    
                 </div>

            <!-- Grupo:Telefono-->
            <div class="formulario-grupo" id="grupo-telefono">
                    <label for="telefono" class="formulario-label">Teléfono</label>
        
                        <div class="formulario-grupo-input">
                            <input type="text" class="formulario-input" name="telefono" id="telefono" placeholder="4468247800">
                            <i class="formulario__validacion-estado fas fa-times-circle"></i>
                            <p class="input-error">El teléfono solo puede contener números y un máximo de 10 caracteres.</p>
                        </div>
        
            </div>

            <!-- Grupo: terminos y condiciones -->
            <div class="formulario-grupo" id="grupo-terminos">
                <label class="fotmulario-label">
                    <input class="formulario-checkbox" type="checkbox" name="terminos" id="terminos">
                    Acepto los terminos y condiciones
                </label>
            </div>

            <div class="formulario-mensaje" id="formulario-mensaje">
                <p><i class="fa-solid fa-triangle-exclamation"></i> <b>Error:</b> Por favor rellene el formulario correctamente.</p>
            </div>

            <div class="formulario-grupo formulario-grupo-btn-enviar">
                <button type="submit" class="formulario-btn">Enviar</button>
                <p class="mensaje-exito" id="mensaje-exito">El formulario fue enviado exitosamente</p>
            </div>

        </section>

    </main>
    <footer>

        <div class="pie-flex">

            <div class="frases-pie">Aceptamos todas las tarjetas</div>

            <br>

            <div class="frases-pie">Envíos gratis a toda Latinoamerica</div>

            <br>

            <div class="frases-pie">¡Encontrarás la mayor variedad del mercado!</div>

            <br>

        </div>

        <br>

        <div class="pie">

            <h3>© 2023 DH™ Sports.</h3>

            <br>

            <div>Los mejores productos para el deporte</div>

            <br>

            <div>ecommerce.dh@sports.com</div>
        
        </div>

    </footer> 
    
</body>
</html>