<!DOCTYPE html>
<html lang="en">
<%- include('partials/head')  %>
<body>

<%- include('partials/header')  %>   

    <main>

        <div class="main-registro">

            <h2 class="new-account">Creá tu cuenta</h2>
        
            <section class="formulario-content">
            
                <form action="/register" class="formulario" method="post"></form>

                <!-- Grupo: Usuario -->
                    <div class="formulario-grupo" id="grupo-usuario">
                        <label for="usuario" class="formulario-label">Usuario</label>

                        <div class="formulario-grupo-input">
                            <input type="text" class="formulario-input" name="usuario" id="usuario" placeholder="Dh154">
                            <i class="formulario__validacion-estado fas fa-times-circle"></i>
                            <p class="input-error">El usuario debe contener de 4 a 10 caracteres. Pueden ser letras, números y guiones.</p>
                        </div>

                    </div>

                <!-- Grupo: Nombre -->
                    <div class="formulario-grupo" id="grupo-nombre">
                        <label for="nombre" class="formulario-label">Nombre</label>
    
                        <div class="formulario-grupo-input">
                            <input type="text" class="formulario-input" name="nombre" id="nombre" placeholder="DH SPORTS">
                            <i class="formulario__validacion-estado fas fa-times-circle"></i>
                            <p class="input-error">El usuario debe contener de 4 a 10 caracteres. Pueden ser letras, números y guiones.</p>
                        </div>
    
                    </div>
     
                <!-- Grupo: Contraseña -->
                    <div class="formulario-grupo" id="grupo-contraseña">
                        <label for="contraseña" class="formulario-label">Contraseña</label>
    
                        <div class="formulario-grupo-input">
                            <input type="password" class="formulario-input" name="contraseña" id="contraseña" placeholder="">
                            <i class="formulario__validacion-estado fas fa-times-circle"></i>
                            <p class="input-error">La contraseña debe contener de 4 a 10 caracteres.</p>
                        </div>
    
                    </div>

                <!-- Grupo: Contraseña 2 -->
                    <div class="formulario-grupo" id="grupo-contraseña2">
                        <label for="contraseña2" class="formulario-label">Repetir contraseña</label>
    
                        <div class="formulario-grupo-input">
                            <input type="password" class="formulario-input" name="contraseña2" id="contraseña2" placeholder="">
                            <i class="formulario__validacion-estado fas fa-times-circle"></i>
                            <p class="input-error">Ambas contraseñas deben de ser iguales.</p>
                        </div>
    
                    </div>    
                 
                <!-- Grupo: Correo electronico -->
                    <div class="formulario-grupo" id="grupo-correo">
                        <label for="correo" class="formulario-label">Correo electronico</label>
    
                        <div class="formulario-grupo-input">
                            <input type="email" class="formulario-input" name="correo" id="correo" placeholder="dhs@correo.com">
                            <i class="formulario__validacion-estado fas fa-times-circle"></i>
                            <p class="input-error">El correo solo puede contener letras, números, puntos, guiones y guione bajos.</p>
                        </div>
    
                    </div>

                <!-- Grupo:Telefono-->
                    <div class="formulario-grupo" id="grupo-telefono">
                        <label for="telefono" class="formulario-label">Teléfono</label>
        
                        <div class="formulario-grupo-input">
                            <input type="tel" class="formulario-input" name="telefono" id="telefono" placeholder="4468247800">
                            <i class="formulario__validacion-estado fas fa-times-circle"></i>
                            <p class="input-error">El teléfono solo puede contener números y un máximo de 10 caracteres.</p>
                        </div>
        
                    </div>

                <!-- Grupo: terminos y condiciones -->
                    <div class="formulario-grupo" id="grupo-terminos">
                        <label class="fotmulario-label">
                            <input class="formulario-checkbox" type="checkbox" name="terminos" id="terminos">
                            Acepto los terminos y condiciones
                        </label>
                    </div>

                    <div class="formulario-mensaje" id="formulario-mensaje">
                        <p><i class="fa-solid fa-triangle-exclamation"></i> <b>Error:</b> Por favor rellene el formulario correctamente.</p>
                    </div>

                    <div class="formulario-grupo formulario-grupo-btn-enviar">
                        <button type="submit" class="formulario-btn">Enviar</button>
                        <p class="mensaje-exito" id="mensaje-exito">El formulario fue enviado exitosamente</p>
                    </div>

            </section>

        </div>

    </main>
    
    <%- include('partials/footer') %>

<div class="pie">

<h3>© 2023 DH™ Sports.</h3>

<p>Los mejores productos para el deporte</p>

<p>ecommerce.dh@sports.com</p>
</div>
    
</body>
</html>