* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

                                  /*   HEADER  */
.main-header {
    background-color: #f4eadb;
    display: flex;
    
}

.logo {
   margin: 100px;
   height: auto;
   width: auto;
}

.encabezado {
    display: flex;
    margin: auto;
    gap: 32px  ;
}

.menu {
    margin: auto;
    font-size: 20px;

}

.imagen-logo {
    margin: auto;
     
}

.login {
    margin: auto;
    font-size: 20px;
   
}

.carrito {
    margin: auto;
   font-size: 20px;
}

.hearder-busqueda{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
}
                      /*   BUSQUEDA   */

.lupa {
    font-size: 25px;
}

.barra-de-busqueda {
    display: flex;
    justify-content: center;
    padding: 10px;
    gap: 10px;
    font-size: 25px;
    
}
.input {
    font-size: 15px;
    border: none
}
                   /*   MAIN    */

.deporte-favorito {
    font-size: 15px;
    padding: 20px;
    text-align: center;
}                  
.deporte{
    margin: auto;
    width: 80vw;
    padding: 10px;
    transition: all 400ms ease;
    border-radius: 10px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    cursor: default;
}
.deporte-carrito{
    margin: auto;
    width: 80vw;
    padding: 10px;
    transition: all 400ms;
    border-radius: 10px;
}
.deporte:hover{
    transform: scale(1.15,1.15);
    /*background-color: blanchedalmond;*/
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform: translateY(-4%);

}
.deporte-carrito:hover{
    transform: scale(1.15,1.15);
    /*background-color: blanchedalmond;*/ 
}
.imagenes-deportes{
    /*background-color: #f4eadb;*/
    margin: 20px;
    text-align: center;
    border-radius: 10px;
}
.cuerpo-main{
    background-color: white;
    margin: 5px;
    padding: 5px;
}
.foto-deporte{
    width: 100%;
    transition: all 400ms;
    border-radius: 10px;
}

.nombre-deporte{
    font-style: 24px;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    color: gray;
    border: 1px solid gray;
    border-radius: 4px;
    transition: all 400ms ease;

}

.nombre-deporte:hover{
    background: #f4eadb;
    color: #fff;
}
.link-deporte{
    text-decoration: none;
    color: black;
    
}
.precio-total{
    text-align: right;
    padding-right: 30px;
}
.boton-pagar{
    background-color: rgb(255, 230, 0);
    margin: 10px;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    border: 0;
    font-size: 16px;
}
.boton-pagar a{
    text-decoration: none;
    color: #000000;
}
@media(min-width: 768px){
    .imagenes-deportes{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .deporte{
        width: 40%;
    }
    .deporte-carrito{
        width: 40%;
    }
    .boton-carrito{
        width: 100%
    }
    .boton-pagar{
        width: 30%;
    }
}
@media(min-width: 992px){
    .deporte{
        width: 23%;
    }
    .deporte-carrito{
        width: 30%;
    }
}