#login-box {
    text-align: center;
    margin: 10px;
    background: #f4eadb;
    padding: 20px 37px;
}
.main-login{
    background-color: white;
    padding: 10px;
    margin: 10px;
}

#login-box h1 {
    color: #000;

}
input{
    padding: 0%;
    width: 20%;
    border: none;
    border-radius: 5px 5px 5px 5px;
    
    
}
button{
    border-radius: 5px 5px 5px 5px;
    background-color: bisque;
    border: none;
}
.logo-login{
    opacity: 15%;
    width: 78%;
}
