@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 12px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    margin: 0px;
    background-color: #f4eadb;
}

.navBar {
    background-color: #f4eadb;
    align-items: center;
    padding: 10px;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.div-logo {
    width: 50vw;
    margin-right: 50px;
    text-align: center;
}

.logobarra-mitad {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logoDH {
    width: 100%
}

.menu-celular {
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

.busqueda2 {
    display: none;
}

.fa-bars {
    margin: auto;
    text-align: center;
    width: 2em;
    background-color: #B2AD74;
    color: white;
    margin-bottom: 10px;
    border-radius: 4px;
    padding: 5px 0;
    margin-top: 20px;
    transition: all 400ms;
}

.burguer-menu {
    width: 25vw;
    text-align: center;
    margin: auto;
    display: inline-block;
    position: relative;
    z-index: 10
}

.burguer-menu:hover {
    transform: scale(1.2, 1.2);
}

.burguer-menu:hover .menu-celular {
    display: block;
}

.burguer-menu a {
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
    background-color: #B2AD74;
}

.burguer-menu a:hover {
    background-color: #f4eadb;
}

ul {
    list-style: none;
}

.menu-tablet {
    display: none;
}

.links-encabezado {
    text-decoration: none;
    color: black;
    transition: all 400ms;
}

.links-encabezado:hover {
    transform: scale(1.5, 1.5);
}

.busqueda1 {
    position: relative;
    z-index: 2;
}

#lupa-uno {
    position: absolute;
    right: 10px;
    top: 11px;
}

#buscador-productos {
    width: 100%;
    height: 4vh;
    border-radius: 5px;
    border: none;
    text-align: center;
}

#carrito-compras {
    width: 10vw;
    margin: auto;
}

.fa-cart-shopping {
    transform: scale(2);
    color: #B2AD74;
}

main {
    background-color: #B2AD74;
    padding: 10px;
}

.productos {
    background-color: white;
    margin: 10px;
    padding: 10px;
    font-size: 16px;
}

.lista-imagenes {
    width: 100%;
}

.imagen-grande {
    width: 100%;
}

.imagen-grande101 {
    width: 100%;
}

.imagenes-pequeñas {
    width: 30%;
    margin: 10px;
}

.imagenes-pequeñas101 {
    width: 22vw;
    margin: 10px;
}

.imagenes-flex {
    display: flex;
    justify-content: space-around;
}

.precio-producto {
    color: blueviolet;
    text-align: right;
    margin: 10px;
    padding: 10px;
}

.boton-agregar {
    background-color: rgb(255, 230, 0);
    margin: 10px;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    border: 0;
    font-size: 16px;
}

.boton {
    text-align: center;
}

.boton-agregar a {
    text-decoration: none;
    color: #000000;
}

footer {
    text-align: center;
    background-color: #f4eadb;
    margin: auto;
    font-size: 16px;
    padding: 30px 10px;

}

.pie-flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.frases-pie {
    text-align: center;
    margin: 0 10px;
    margin: auto;
    width: 30vw;
}

#boton-desktop {
    display: none;
}
/*desde aquí va el css para el registro */

.new-account {
    text-align: center;
}


.main-registro{
    background-color: #f4eadb;
    margin: 5px 7px 14px 7px;
    padding: 10px;
}

.formulario-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.formulario-content>div {
    width: 50%;
}

.formulario-label {
    display: block;
    font-weight: 700;
    padding: 10px;
    cursor: pointer;
}

.formulario-grupo-input {
    position: relative;
}

.formulario-input {
    width: 98.5%;
    background-color: white;
    border: 3px solid transparent;
    border-radius: 3px;
    height: 45px;
    line-height: 45px;
    padding: 0 40px 0 10px;
    transition: .3s ease all;
}

.formulario-input:focus {
    border: 3px solid #0075ff;
    outline: none;
    box-shadow: 3px 0 30px rgba(163, 163, 163, 0.4);
}

.input-error {
    font-size: 12px;
    margin-bottom: 0;
    display: none;
}

.input-error-activo {
    display: block;
}

.formulario__validacion-estado {
    position: absolute;
    right: 10px;
    bottom: 15px;
    z-index: 100;
    font-size: 16px;
    opacity: 0;
}

.formulario-checkbox {
    margin-right: 10px;
}

.formulario-grupo,
.formulario-mensaje,
.formulario-grupo-btn-enviar {
    align-items: center;
}

.formulario-mensaje {
    height: 95px;
    line-height: 45px;
    background: #f66060;
    padding: 0 15px;
    border-radius: 3px;
    display: none;
}

.formulario-mensaje-activo {
    display: block;
}

.formulario-mensaje p {
    margin: 0
}


.formulario-grupo-btn-enviar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario-btn {
    height: 45px;
    line-height: 45px;
    width: 30%;
    background: black;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: .1s ease all;
    margin-top: 50px;
}

.formulario-btn:hover {
    box-shadow: 3px 0 30px rgba(163, 163, 163, 1);
}

.mensaje-exito {
    font-size: 14px;
    color: #119200;
    display: none;
}

.mensaje-exito-activo {
    display: block;
}

.formulario-checkbox {
    margin-top: 65px;
}
/* Desde aquí van los estilos del login*/


@media(min-width:768px) {
    body {
        font-size: 10px;
    }

    .menu-tablet {
        display: block;
        width: 16vw;
        margin-left: 10px;
        text-align: end;
    }

    .menu-tablet i {
        color: #b2ad74
    }

    .burguer-menu {
        display: none;
    }

    .busqueda1 {
        display: none;
    }

    .busqueda2 {
        display: block;
        position: relative;
        z-index: 2;
    }

    #lupa-dos {
        position: absolute;
        right: 10px;
        top: 11px;
    }

    #buscador-productos2 {
        width: 30vw;
        height: 4vh;
        border-radius: 5px;
        border: none;
        margin-right: 10px;
        text-align: center;
    }

    #carrito-compras {
        display: none;
    }

    .div-logo {
        width: 40vw;
        margin-right: 50px;
        text-align: center;
    }

    .nombre-producto {
        font-size: 30px;
    }

    .descripcion-producto {
        font-size: 24px;
    }

    .precio-producto {
        font-size: 28px;
    }

    .lista-imagenes {
        width: 100%;
        display: flex;
    }

    .imagenes-pequeñas {
        width: 17vw;
        margin: 10px;
    }

    .imagenes-flex {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .imagen-grande101 {
        width: 73%;
    }

    .imagenes-pequeñas101 {
        width: 24vw;
        margin: 10px
    }

}

@media(min-width: 992px) {
    #lupa-dos {
        position: absolute;
        right: 15px;
        top: 6px;
    }

    .menu-tablet {
        display: flex;
        width: 30vw;
        margin-left: 10px;
        text-align: center;
        justify-content: space-between;
        font-size: 16px;
    }

    .busqueda2 {
        display: block;
        position: relative;
    }

    #buscador-productos2 {
        width: 20vw;
        height: 4vh;
        border-radius: 5px;
        border: none;
        margin-right: 10px;
    }

    .div-logo {
        width: 30vw;
        margin-right: 10px;
        text-align: center;
    }

    .main-header {
        display: block;
    }

    .lista-imagenes {
        width: 60%;
        display: flex;
        flex-direction: row-reverse;
    }

    #boton-main {
        display: none;
    }

    #boton-desktop {
        display: block;
    }

    .descripciones-desktop {
        width: 20vw;
    }

    .productos-flex {
        background-color: white;
        margin: 10px;
        padding: 10px;
        font-size: 16px;
        display: flex;
        justify-content: space-around;
    }

    .imagen-grande {
        width: 42vw;
        height: 42vw;
    }

    .imagen-grande101 {
        width: 73%;
    }

    .imagenes-pequeñas {
        width: 10vw;
    }

    .imagenes-pequeñas101 {
        width: 96%;
        margin: 5px;
        padding-right: 10px
    }
}