* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main {
    margin: 9px -2px 10px 10px;
        background-color: #B2AD74;
    padding: 10px;
}
html {
    background-color: #f4eadb;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
}
.logobarra-mitad{
    margin: -37px;

    padding: 71px;
}


.new-account {
    text-align: center;
}


.main-registro{
    background-color: #f4eadb;
    margin: 5px 7px 14px 7px;
    padding: 10px;
}

.formulario-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.formulario-content>div {
    width: 50%;
}

.formulario-label {
    display: block;
    font-weight: 700;
    padding: 10px;
    cursor: pointer;
}

.formulario-grupo-input {
    position: relative;
}

.formulario-input {
    width: 98.5%;
    background-color: white;
    border: 3px solid transparent;
    border-radius: 3px;
    height: 45px;
    line-height: 45px;
    padding: 0 40px 0 10px;
    transition: .3s aese all;
}

.formulario-input:focus {
    border: 3px solid #0075ff;
    outline: none;
    box-shadow: 3px 0 30px rgba(163, 163, 163, 0.4);
}

.input-error {
    font-size: 12px;
    margin-bottom: 0;
    display: none;
}

.input-error-activo {
    display: block;
}

.formulario__validacion-estado {
    position: absolute;
    right: 10px;
    bottom: 15px;
    z-index: 100;
    font-size: 16px;
    opacity: 0;
}

.formulario-checkbox {
    margin-right: 10px;
}

.formulario-grupo,
.formulario-mensaje,
.formulario-grupo-btn-enviar {
    align-items: center;
}

.formulario-mensaje {
    height: 95px;
    line-height: 45px;
    background: #f66060;
    padding: 0 15px;
    border-radius: 3px;
    display: none;
}

.formulario-mensaje-activo {
    display: block;
}

.formulario-mensaje p {
    margin: 0
}


.formulario-grupo-btn-enviar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario-btn {
    height: 45px;
    line-height: 45px;
    width: 30%;
    background: black;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: .1s ease all;
    margin-top: 50px;
}

.formulario-btn:hover {
    box-shadow: 3px 0 30px rgba(163, 163, 163, 1);
}

.mensaje-exito {
    font-size: 14px;
    color: #119200;
    display: none;
}

.mensaje-exito-activo {
    display: block;
}

.formulario-checkbox {
    margin-top: 65px;
}
.busqueda1{
    margin: 9px 20px;
}

.frases{
    padding: 5px;
}
p{
    padding: 10px;
}
.pie{
    text-align: center;
}
/* Estilos de la validacion */


/* Mediaqueries */
@media (min-width: 768px){
    
    .logobarra-mitad{
        margin: -48px 161px 0px -69px;
}
    
        main {
            margin: -1px 103px 7px 107px;
        }        
 
        
        .frases{
            display: flex;
            padding: 5px;
           width: 81%;
           align-items: center;
           margin: 79px;
        }
        p{
            padding: 4px;
            margin: 3px 38px 11px 33px;
          
        }
    .main-registro{
        margin: 8px 37px 6px 39px;
    }
    .pie {
        text-align: center;
        margin: -50px -113px 42px -164px;
    }
    
}

@media (min-width:1024px){
    .frases{
        display: flex;
        padding: 3px;
       width: 97%;
       align-items: center;
       margin: 26px;
       justify-content: space-between;
       margin: 8px 0px 11px -15px;

    }
    p{
        padding: 4px;
        margin: 4px 73px -5px 57px;
      
    } 
    main {
  margin: 3px 201px 14px 65px;  
  }
    footer {
    text-align: center;
    background-color: #f4eadb;
    font-size: 17px;
    padding: 30px 10px;
}
footer{
    margin: 13px 46px 18px -34px;

}
    .pie{
        font-size: medium;
        text-align: center;
        display: block;
        margin: 3px 28px 27px -86px;    }

}
@media (min-width:1366px){
    .frases{
        display: flex;
        padding: 3px;
       width: 97%;
       align-items: center;
       margin: 26px;
       justify-content: space-between;
       margin: 8px 0px 11px -15px;

    }
    p{
        padding: 4px;
        margin: 4px 73px -5px 57px;
      
    } 
    main {
        margin: 3px 262px 14px 65px  }
    footer {
    text-align: center;
    background-color: #f4eadb;
    font-size: 17px;
    padding: 30px 10px;
}
footer{
    margin: 13px 46px 18px -34px;

}
    .pie{
        font-size: medium;
        text-align: center;
        display: block;
        margin: 3px 28px 27px -86px;    }

}


