<footer>

    <div class="pie-flex">

        <div class="frases-pie">Aceptamos todas las tarjetas</div>

        <br>

        <div class="frases-pie">Envíos gratis a toda Latinoamerica</div>

        <br>

        <div class="frases-pie">¡Encontrarás la mayor variedad del mercado!</div>

        <br>

    </div>

    <br>

    <div class="pie">

        <h3>© 2023 DH™ Sports.</h3>

        <br>

        <div>Los mejores productos para el deporte</div>

        <br>

        <div>ecommerce.dh@sports.com</div>
    
    </div>

</footer>