<header class="navBar">

    <div class="main-header">

        <div class="burguer-menu">

           <i class="fas fa-bars"></i>

            <ul class="menu-celular">

                <li><a class="links-encabezado" href="/">Inicio</a></li>
                
                <li><a class="links-encabezado" href="/user/register">Regístrate <i class="fa-regular fa-id-card"></i></a></li>

                <button type="submit"></button>
                <li><a class="links-encabezado" href="/user/login">Ingresa <i class="fa-solid fa-right-to-bracket"></i></a></li> 
                </button>
                
                <li><a class="links-encabezado" href="/productCar">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>

            </ul>

        </div>

        <div class="logobarra-mitad">

            <div class="div-logo">
                <a class="link-logo" href="/"><img src="../images/logo-jpg.jpg" alt="Logo de DH Sports" class="logoDH"></a>
            </div>
            <div class="busqueda2">

                <form action="/busqueda" method="GET">

                    <input type="search" placeholder="Buscar producto, deporte..." id="buscador-productos2">

                    <i id="lupa-dos" class="fa fa-search"></i>
                    
                </form>

            </div>

            <div id="carrito-compras"><a href="/productCar"><i class="fa-solid fa-cart-shopping"></i></a> </div>

            <ul class="menu-tablet">
    
                <li><a class="links-encabezado" href="/user/register">Regístrate <i class="fa-regular fa-id-card"></i></a></li>
                <br>
                <li><a class="links-encabezado" href="/user/login">Ingresa <i class="fa-solid fa-right-to-bracket"></i></a></li>
                <br>
                <li><a class="links-encabezado" href="/productCar">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>

            </ul>

        </div>

    </div>

    
    


        <div class="busqueda1">

            <form action="/busqueda" method="GET">

                <input type="search" placeholder="Buscar producto, deporte..." id="buscador-productos">

                <i id="lupa-uno" class="fa fa-search"></i>
                
            </form>

        </div>

  


</header>